{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What is your most impressive trick?
      </h1>

      <form class="form" action="/check-your-answers" method="post">


          <textarea class="govuk-textarea" id="more-detail" name="juggling-trick" rows="5" aria-describedby="more-detail-hint">{{ data['juggling-trick'] }}</textarea>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
